#job-details{
  .md-whiteframe-8dp{
    height: 700px;
    min-height: 700px;
  }
  .text{
    margin-top: 5px;
  }
.card {
  display: block;
  padding:20px;
  margin-right: 20px;
}
  #desc p{
    font-family: 'Open Sans', sans-serif !important;
    color: black !important;
    font-size: 14px !important;
  }
}